.newTodo_formGroup{
    background-color: rgb(189, 189, 199);
    display:flex;
}

.NewTodo_Form {

}

.NewTodo_Form{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.NewTodo_Form label{
    min-width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    display: flex;
}

.NewTodo_Form input{
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
}

.NewTodo_Form button{
    padding: 0 1.3rem;
    border: none;
    background: #ff6666;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, .3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.2s ease-out;
}

.NewTodo_Form button:hover{
    background: #bb4f4f;
}

.NewTodo_Form input, 
.NewTodo_Form button {
    font-family: "Quicksand", sans-serif;
    height: 2rem;
}